*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero-section{
    height: 24rem;
    width: 100%;
    margin-top: 0.75rem;
    background: linear-gradient(90deg, #DDE3E8 0%, #CBD0D3 100%);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
    padding-left: 10rem;
    max-width: 50%;
    align-items: flex-start;
    gap: 1rem;
}

.hero-content h2{
    margin-top: 2.5rem;
}

.hero-content p{
    margin-bottom: 2rem;
}

.hero-button{
  display: flex;
  gap: 1rem; /* Space between buttons */
}

.download-btn{
  height: 2.5rem;
  width: 10rem;
  border-radius: 12px;
  background-color: #357ABD;
  color: white;
  border: none;
}

.download-btn:hover{
  background-color: #1057bc;
  cursor: pointer;
  transform: translateY(-2px);
}

.contact-btn{
  height: 2.5rem;
  width: 8rem;
  border-radius: 12px;
  background-color: #F8F9FA;
  color: black;
  border: #333 solid 1.85px;
}

.contact-btn:hover{
  background-color: #e2e3e5;
  cursor: pointer;
  transform: translateY(-2px);

}

.hero-image img{
    height: 14rem;
    width: 15rem;
    border-radius: 50%;
    /* margin-left: 55rem;
    margin-bottom: 10rem; */
    position: absolute;
    top: 50%;
    right: 15em;
    transform: translateY(-50%);

}

@media (max-width: 768px) {
  .hero-content {
    max-width: 100%;
    padding: 2rem;
    align-items: center;
    text-align: center;
  }

  .hero-image {
    position: static;
    transform: none;
    margin-top: 2rem;
  }
}

.hero-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: nowrap;
  width: 100%;
}

.hero-icon {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.hero-subtext {
  margin-top: 25px;
  font-size: 1rem;
  color: #333;
  white-space: nowrap;
}

.hero-icon a{
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease-in-out;
}

.hero-icon a:hover{
  color: #534e4e;
  transform: translateY(-2px);
}

/* .hero-icon .MuiButton-contained {
  background: linear-gradient(#105FBC 30%, #357ABD 99%);
  width: 12rem;
  text-transform: none;
  color: white;
  border-radius: 18px;
  transform: translateY(-2px); 
} */

@media (max-width: 768px) {
  .hero-icon {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
/* .hero-image img{
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 65rem;
    border-radius: 50%;
} */
/* .hero-content button{
    height: 3rem;
    width: 10rem;
    color: white;
    font-weight: 300;
    border-radius: 18px;
    background: linear-gradient( #105FBC 30%, #357ABD 99%);
} */
